.paper {
    text-align: 'center';
    color: blue,
}

button {
  background: none ;
  padding: 10px 40px;
  margin: 0 auto;
}

input {
  padding: 10px 40px;
}

.app {
  text-align: center;
  margin: 0 20px;
}